.work{
    width:100%;
    height:500px;
    display: block;
    margin: auto;
}
.work-content{
    width:65%;
    height:200px;
    border: double 5px #4ec4d3;
    display: block;
    margin: auto;
}